#Header {
    background-image: url("../Resources/Stars.gif");
    margin: 0px auto 10px auto;
    height: 100px;
    padding: 5px;
} 

#Header > p {

    text-align: center;
    color: blueviolet;
    font-size:75px;
    margin: auto;
}

body {
    
    background-image: url("../Resources/metal-floor-background-pattern-554.png");
    border: 2px;
}

.main_content {

    width: auto;
}

.nav {
    
    text-align: right;
    margin: 40px 10px;
}


.nav li {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-size: 25px;
}

img.title {
    display: block;
    margin: 0px auto 0px auto;
    box-shadow: 5px 5px 5px cyan;
    z-index: 10;
}

.sub_content {

    border: 6px double black;
    height: 800px;
    width: 1000px;
    padding: 100px 40px;
    margin: 40px auto 0px auto;
    background-color: rgb(11, 11, 131, 0.2);
    font-size: 20px;
    

}

.sub_content > h1 {
    text-align: center;
    font-size: 225%;
}

.sub_content p {

    font-weight: 500;

}

#Footer p {

        text-align: center;
        color: blue;
}