#Header {
    background-image: url("../Resources/Stars.gif");
    margin: 0px auto 10px auto;
    height: 100px;
    padding: 5px;
} 

#Header > p {

    text-align: center;
    color: blueviolet;
    font-size:75px;
    margin: auto;
}

body {
    
    background-image: url("../Resources/metal-floor-background-pattern-554.png");
    border: 2px;
}

.maiin_content {

    color: blue;
    width: auto;
    height: 900px;
}

.nav {
    
    text-align: right;
    margin: 10px;
}


.nav li {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-size: 30px;
}

img.title {
    display: block;
    margin: 0px auto 0px auto;
    box-shadow: 5px 5px 5px cyan;
    z-index: 10;
}

.sub_content {

    border: 6px double black;
    height: 600px;
    width: 1000px;
    padding: 100px 40px;
    margin: 0 auto;
    position: relative;
    bottom: 47px;
    z-index: 5;




}

#Footer p {

        text-align: center;
        color: blue;
}