.wrapper {
    min-height: calc(100vh - 160px);
}


.header {
    background-image: url("../Resources/Stars.gif");
    width: 100%;
    height: 100px;
    padding: 5px;
} 

.header > p {

    text-align: center;
    color: blueviolet;
    font-size:75px;
    margin: auto;
}

body {
    
    background-image: url("../Resources/metal-floor-background-pattern-554.png");
    border: 2px;
}

.main_content {

    width: 40%;
    clear: left;
}

.nav {
    
    
    height: 100vh;
    display: block;
    float: left;
    text-align: right;
    width: 30%;
    padding: 10px;
    float: left;
    background-color: red;
}


.nav li {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    list-style-type: none;
    text-align: center;
}

img.title {
    display: block;
    margin: 0px auto 0px auto;
    box-shadow: 5px 5px 5px cyan;
    z-index: 10;
}

.sub_content {

    border: 6px double black;
    float: right;
    height: calc(100vh - 160px);
    width: 70%;
    top: 40px;
    padding: 40px;
    background-color: rgb(11, 11, 131, 0.2);
    font-size: 20px;
}

.sub_content > h1 {
    text-align: center;
    font-size: 50px;
}

.sub_content p {

    font-weight: 500;
}

.sub_pages {
    background-color: black;
    border: 6px inset darkgray;
    color: blueviolet;
    height: 100%;
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {

    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blueviolet;
}

.footer p {

        text-align: center;
        color: blue;
}
.footer {
    height: 60px;
}