#Header {
    background-image: url("../Resources/Stars.gif");
    margin: 0px auto 10px auto;
    height: 100px;
    padding: 5px;
} 

#Header > p {

    text-align: center;
    color: blueviolet;
    font-size:75px;
    margin: auto;
}

body {
    
    background-image: url("../Resources/metal-floor-background-pattern-554.png");
    border: 2px;
}

.content {

    color: blue;
    width: auto;
    height: 900px;
}

.nav {
    
    text-align: right;
    margin: 10px;
}


.nav li {

    display: inline;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-size: 30px;
}

#Footer p {

        text-align: center;
        color: blue;
}